.Button {
    font-size: 1.4rem;
    align-self: center;
    width: 7.5rem;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    outline: none;
}

.ButtonWide {
    width: 50%
}

.FormButton, .PostButton, .FriendButton {
    border-color: var(--glow--yellow--color);
    background-color: var(--black--color);
    color: var(--glow--yellow--color);
    box-shadow: 0 0 1rem .25rem var(--glow--yellow--color),
                0 0 4rem 1rem var(--glow--yellow--spread--color),
                inset 0 0 .75rem .25rem var(--glow--yellow--color);
    text-shadow: 0 0 .5rem var(--glow--yellow--color);
    transition: all ease-in-out 0.5s;
}

.FormButton {
    margin-top: 1rem;
}

.PostButton {
    margin: 1rem 0 0 2rem;
}

.FormButton:hover, .PostButton:hover, .FriendButton:hover {
    font-weight: 600;
    color: var(--charcoal--color);
    transform: scale3d(1.1, 1.1, 1.1);
    background-color: var(--enhanced--glow--yellow--color);
    box-shadow: 0 0 1rem .25rem var(--glow--yellow--color),
                0 0 4rem 2rem var(--glow--yellow--spread--color),
                inset 0 0 .75em .25rem var(--glow--yellow--color);
    border-color: var(--enhanced--glow--yellow--color);
}

.FormButton:active, .FormButton:focus,
.PostButton:active, .PostButton:focus,
.FriendButton:active, .FriendButton:focus {
    font-weight: 600;
    color: var(--charcoal--color);
    background-color: var(--enhanced--glow--yellow--color);
    box-shadow: 0 0 0.6rem .25rem var(--glow--yellow--color),
                0 0 2.5rem 2rem var(--glow--yellow--spread--color),
                inset 0 0 .5rem .25rem var(--glow--yellow--color);
    border-color: var(--enhanced--glow--yellow--color);
}


.CancelButton, .UnfriendButton {
    border-color: var(--burgundy--color);
    background-color: var(--black--color);
    color: #d10739;
    box-shadow: 0 0 1rem .25rem var(--burgundy--color),
                0 0 4rem 1rem #26000a,
                inset 0 0 .75rem .25rem #66001a;
    text-shadow: 0 0 .5rem var(--dark--burgundy--color);
    transition: all ease-in-out 0.5s;
}

.CancelButton {
    margin: 1rem 2rem 0 0;
}

.CancelButton:hover, .UnfriendButton:hover {
    font-weight: 600;
    color: var(--charcoal--color);
    transform: scale3d(1.1, 1.1, 1.1);
    background-color: #d10739;
    box-shadow: 0 0 1rem .25rem #66001a,
                0 0 4rem 2rem var(--dark--burgundy--color),
                inset 0 0 .75em .25rem #26000a;
    border-color: var(--burgundy--color);
}

.CancelButton:active, .CancelButton:focus, .UnfriendButton:active, .UnfriendButton:focus{
    font-weight: 600;
    color: var(--charcoal--color);
    background-color: var(--burgundy--color);
    box-shadow: 0 0 0.6rem .25rem #26000a,
                0 0 2.5rem 2rem #66001a,
                inset 0 0 .5rem .25rem var(--dark--burgundy--color);
    border-color: var(--burgundy--color);
}


.HexButton {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    max-width: 3.5rem;
    max-height: 4rem;
}