.Button {
    font-size: 1.4rem;
    align-self: center;
    width: 7.5rem;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    outline: none;
}

.ButtonWide {
    width: 50%
}

.FormButton {
    
    border-color: var(--glow--yellow--color);
    margin-top: 1rem;
    background-color: var(--black-color);
    color: var(--glow--yellow--color);
    box-shadow: 0 0 1rem .25rem var(--glow--yellow--color),
                0 0 4rem 1rem var(--glow--yellow--spread--color),
                inset 0 0 .75rem .25rem var(--glow--yellow--color);
    text-shadow: 0 0 .5rem var(--glow--yellow--color);
    transition: all ease-in-out 0.5s;
}

.FormButton:hover {
    font-weight: 600;
    color: var(--charcoal--color);
    transform: scale3d(1.1, 1.1, 1.1);
    background-color: var(--enhanced--glow--yellow--color);
    box-shadow: 0 0 1rem .25rem var(--glow--yellow--color),
                0 0 4rem 2rem var(--glow--yellow--spread--color),
                inset 0 0 .75em .25rem var(--glow--yellow--color);
    border-color: var(--enhanced--glow--yellow--color);
}

.FormButton:active, .FormButton:focus {
    font-weight: 600;
    color: var(--charcoal--color);
    background-color: var(--enhanced--glow--yellow--color);
    box-shadow: 0 0 0.6rem .25rem var(--glow--yellow--color),
                0 0 2.5rem 2rem var(--glow--yellow--spread--color),
                inset 0 0 .5rem .25rem var(--glow--yellow--color);
}
