.SearchBar input {
  background: var(--black--color) !important;
  color: var(--offwhite--color) !important;
  font-size: 1.4rem;
  max-width: 100%;
  margin: 2rem 0;
  height: 3.2rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: inset 2px 5px 10px #757373;
}

.SearchBar input::placeholder {
  color: var(--offwhite--color);
}