.App{
  min-height: 100vh
}

.Main {
    padding-top: 7.5rem;
}

.Content {
    padding: 2rem;
    border-radius: 1.5rem;
}

a {
    transition: color ease-in-out 0.5s;
}


/* scrollbar */
*::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background: var(--offwhite--color);
  }
  *::-webkit-scrollbar-thumb {
    background: var(--grey--color);
  }
  *::-webkit-scrollbar-thumb:hover {
    background: var(--charcoal--color);
  }