:root {
  font-size: 10px;
  --offwhite--color: #F4EAEA;
  --offwhite--color--transparent: rgba(244, 234, 234, 0.9);
  --orange--color: #CC8022;
  --yellow--color: #E5BD3F;
  --grey--color: #6c6c6a;
  --charcoal--color: #312F17;
  --black--color: #222222;

}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}
