:root {
  font-size: 10px;
  --offwhite--color: #F4EAEA;
  --offwhite--color--transparent: rgba(244, 234, 234, 0.9);
  --burgundy--color: #800020;
  --dark--burgundy--color: #73001d;
  --light--burgundy--color: #A52A2A;
  --aquamarine--blue--color: #13B3AC;
  --dark--aquamarine--color: #2B8B7E;
  --orange--color: #CC8022;
  --yellow--color: #E5BD3F;
  --dark--yellow--color: #5b4b26;
  --grey--color: #36454F;
  --light--grey--color--transparent: rgba(92, 109, 124, 0.6);
  --charcoal--color: #312F17;
  --black--color: #212121;
  --glow--yellow--color: #fdcc5b;
  --glow--orange--color: #D17A08;
  --glow--yellow--spread--color: rgba(243, 180, 77, 0.8);
  --enhanced--glow--yellow--color: #FCE279;

}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #E5BD3F;
  background-image: url(https://res.cloudinary.com/dfhay1cmj/image/upload/v1714582758/honeycomb_background_effdta.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
